.link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 0.5rem 1rem;
  color: var(--g-color-line-brand);
  background-color: var(--root-bg-color);
  font-size: 1rem;
  border-radius: 0 0 8px;

  /* moved off-screen until it receives keyboard focus */
  transform: translateY(-150%);
}

.link:focus {
  transform: translateY(0);
}
