@font-face {
  font-family: 'Inter';
  src: url('/public/assets/font/Inter/Inter-Variable.woff2') format('woff2-variations');
  src: url('/public/assets/font/Inter/Inter-Variable.woff2') format('woff2') tech('variations');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 20deg;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/public/assets/font/Inter/Inter-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Italic';
  src: url('/public/assets/font/Inter/Inter-Italic-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: italic;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', 'Inter Fallback';
  font-style: normal;
}

html,
body,
#__next {
  --min-width: 320px;
  --max-width: 1440px;

  --mobile-width: 1024px;
  --header-height: 84px;

  --body-horizontal-gap: 20px;
  --body-padding: 20px;

  --root-bg-color: #121212;
  --root-text-color: #ffffff;

  --aside-bg-color: #4d4d4d;
  --aside-width: 270px;
  --aside-max-height: 700px;

  --min-height-footer: 40px;

  --g-card-background-color: rgba(32, 32, 32, 0.4);
  --g-color-private-red-550-solid: #ff0000;
  --g-color-text-danger: var(--g-color-private-red-550-solid);

  min-width: var(--min-width);
  margin: 0 auto;

  background-color: var(--root-bg-color);
  color: var(--root-text-color);
}

.g-root {
  background-color: var(--root-bg-color);
}

.g-popup,
.g-popup__content,
.g-menu {
  background-color: var(--g-card-background-color);
  box-shadow: var(--g-card-background-color);
}

.g-dropdown-menu__popup-content .g-menu {
  background-color: var(--g-color-base-background);
}

.g-dropdown-menu__popup-content .g-menu .g-menu__item_selected {
  background-color: transparent;
}

.g-menu__item {
  border-bottom: 1px solid transparent;
  transition: border-color 0.25s ease-in-out;
}

.g-menu__item_selected {
  background-color: transparent;
  border-bottom: 1px solid var(--g-color-line-brand);
}

.g-menu__item_interactive:hover,
.g-menu__item_interactive:focus-visible {
  background-color: transparent;
}

.g-text-input_state_error > .g-text-input__content:focus-within {
  outline: none;
}

.g-text-input > .g-text-input__content,
.g-text-area > .g-text-area__content {
  border-block-end: 1px solid var(--g-color-text-secondary);

  transition: border-color 0.25s ease-in-out;
}

.g-text-input > .g-text-input__content > .g-text-input__label {
  transition: color 0.25s ease-in-out;
}

.g-text-input:hover > .g-text-input__content,
.g-text-area:hover > .g-text-area__content {
  border-block-end: 1px solid var(--g-color-text-primary);
}

.g-text-input > .g-text-input__content:has(input:focus),
.g-text-area > .g-text-area__content:has(textarea:focus) {
  border-block-end: 1px solid var(--g-color-line-brand);
}

.g-text-input > .g-text-input__content:has(input:focus) > .g-text-input__label {
  color: var(--g-color-line-brand);
}

body:not(.error-body) {
  position: relative;

  max-width: var(--max-width);

  display: grid;
  grid-template:
    'main main'
    'footer footer' 1fr / 1fr;
  gap: 0;

  padding: var(--header-height) var(--body-padding) 0;
}

.error-body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: var(--max-width);

  padding: var(--header-height) var(--body-padding) 0;
}

.error-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.error-header {
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
}

.error-description {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  margin: 0;
  color: rgba(255, 255, 255, 0.75);
}

.error-body .error-body-btn {
  color: var(--g-color-text-danger);
  font-weight: 600;
  height: 36px;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.not-found-section {
  margin-top: 2rem;
}

.not-found-header {
  width: 100%;

  text-align: center;
  font-size: 1.8rem;

  margin: 0;
}

.not-found-description,
.not-found-link {
  font-size: 1rem;
}

.not-found-description {
  margin: 1rem 0;
}

aside {
  position: fixed;
  top: 50%;
  left: var(--body-padding);
  transform: translateY(-50%);
  max-height: 700px;
  height: 100%;
  display: flex;

  border-radius: 20px;
}

main {
  position: sticky;
  left: calc(var(--aside-width) + 4 * var(--body-padding) + 1px + 1px);
  max-width: calc(var(--max-width) - var(--aside-width) - 4 * var(--body-padding));
  min-height: calc(100vh - var(--min-height-footer));
  height: max-content;
  grid-area: main;

  margin: 0 auto;
  background-color: var(--root-bg-color);
}

main > header > .g-tabs {
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-right: var(--_--item-gap);
}

.section {
  display: flex;
  flex-direction: column;

  max-width: calc(
    var(--max-width) - var(--body-padding) - var(--body-padding) - var(--aside-width) -
      var(--body-horizontal-gap)
  );

  min-height: calc(var(--aside-max-height) - var(--header-height));
  margin-bottom: calc(100vh - var(--aside-max-height));

  text-align: start;
}

.section-header {
  margin: 1rem 0 0;

  font-size: 3rem;
  line-height: 3rem;

  color: var(--g-color-line-brand);
  text-align: start;
}

footer,
.gn-footer {
  grid-area: footer;

  border-radius: 8px 8px 0 0;

  --g-color-base-background: rgba(32, 32, 32, 0.4);
  color: var(--g-color-private-white-950);
}

.g-popup__content {
  padding: 0.3rem;
  font-size: 0.85rem;
  letter-spacing: 0.05rem;
  color: var(--g-color-line-brand);
}

.gn-drawer > .gn-drawer__veil {
  z-index: 1;
}

.gn-drawer > .gn-drawer__item {
  position: fixed;
  z-index: 1;
}

@media screen and (height <= 740px) {
  aside {
    top: var(--body-padding);
    bottom: var(--body-padding);
    transform: translateY(0);
  }
}

@media screen and (width <= 1440px) {
  html,
  body,
  #__next {
    --max-width: 100vw;
  }

  .section-header {
    font-size: 5rem;
    line-height: 5rem;
  }
}

@media screen and (width <= 1280px) {
  .section-header {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media screen and (width <= 1024px) {
  .section-header {
    font-size: 3rem;
    line-height: 3rem;
  }
}

@media screen and (width <= 900px) {
  .section-header {
    font-size: 2.3rem;
    line-height: 2.3rem;
  }
}

@media screen and (width <= 1024px) {
  html,
  body,
  #__next {
    --header-height: 54px;

    --aside-width: 0;
    --aside-max-height: 100vh;

    --body-horizontal-gap: 0;
    --body-padding: 10px;
  }

  main,
  aside {
    margin: 0;
  }

  aside {
    position: static;

    padding: 0;
    z-index: 1;
  }

  .header {
    font-size: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
  }
}
