.section {
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: var(--min-height-section);
  margin-top: 25px;
  margin-bottom: calc(2 * var(--body-padding));
  text-align: start;
}

@media screen and (width <= 1024px) {
  .section {
    justify-content: center;
    align-items: center;
  }
}
