.section {
  display: flex;
  flex-direction: column;

  min-height: calc(var(--aside-max-height) - var(--header-height));
  margin-top: 25px;
  margin-bottom: calc(100vh - var(--aside-max-height));

  text-align: start;
}

.form {
  width: 100%;
}

.container {
  position: relative;
  display: grid;
  grid-template:
    'name email'
    'company profession'
    'message message' 1fr / 1fr 1fr;
  gap: 1rem;

  margin: 1rem 0;
}

.name {
  grid-area: name;
}

.email {
  grid-area: email;
}

.company {
  grid-area: company;
}

.profession {
  grid-area: profession;
}

.message {
  grid-area: message;
}

.loaderContainer {
  position: absolute;
  inset: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.07);
  /* background: radial-gradient(var(--root-bg-color), #9198e5); */
  border-radius: 0.5rem;
  pointer-events: all;
}

.footer {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.submitBtn {
  margin-top: 1rem;
  margin-right: auto;
}

.successfulSubmitTitle {
  font-size: 1.1rem;
  width: fit-content;
  margin: 0;
  color: var(--toastify-color-progress-success);
}

@media screen and (width <= 1024px) {
  .section {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (width <= 900px) {
  .container {
    grid-template:
      'name'
      'email'
      'company'
      'profession'
      'message' 1fr / 1fr;
  }
}
